html {
    font-family: sans-serif;
}

form {
    border: 2px grey solid;
    border-radius: .5rem;
    padding: 1rem
}

.flash {
    color: red;
    font-size: large;
    font-weight: 700;
    font-style: italic;
}

img {
    border-radius: .5rem;
}