html {
    font-family: sans-serif;
}

form {
    border: 2px grey solid;
    border-radius: .5rem;
    padding: 1rem
}

input {
    margin: .25rem;
}

img {
    border-radius: .5rem;
}

td:first {
    font-weight: bolder;
    font-size: larger;
}

caption {
    caption-side: top;
}

.row {
    margin: .5rem .2rem;
}

.flash {
    color: red;
    font-size: large;
    font-weight: 700;
    font-style: italic;
}

.stat-square {
    padding: .5rem 1rem;
    font-size: 2.5em;
}

#weather {
    font-size: larger;
    font-weight: 700;
}