{% extends 'base.html' %}

{% block title %}MY VIRTUAL PET APP{% endblock %}

{% block body %}
    <h1>MY VIRTUAL PET APP</h1>
    <p>I have a homepage!</p>

    <div>
        <h2>Create Account</h2>
        <form action="/create-user" method="POST">
            <label for="user-email-new">Email:</label>
            <input type="email" name="email" maxlength=254 required="required" aria-required="true" id="user-email-new"><br>

            <label for="user-username-new">Username:</label>
            <input type="text" name="username" maxlength=30 required="required" aria-required="true" id="user-username-new"><br>

            <label for="user-password-new">Password:</label>
            <input type="password" name="password" required="required" aria-required="true" id="user-password-new"><br>

            <label for="user-password-confirm">Confirm password:</label>
            <input type="password" name="password2" required="required" aria-required="true" id="user-password-confirm">

            <input type="submit">
        </form>
    </div>

    <div>
        <h2>Log In</h2>
        <form action="/login" method="POST">
            <label for="user-username">Username:</label>
            <input type="text" name="username" maxlength=30 required="required" aria-required="true" id="user-username"><br>

            <label for="user-password">Password:</label>
            <input type="password" name="password" required="required" aria-required="true" id="user-password">

            <input type="submit">
        </form>
    </div>

{% endblock %}