{% extends 'base.html' %}

{% block title %} CREATE A PET {% endblock %}

{% block body %}
    <h1>Pet Generator</h1>

    <button type="button" id="generate-pet">GENERATE PET</button><br><br>

    <div>
        <img src="https://via.placeholder.com/255" id="species-img" alt="Pet placeholder">
        <p>Images created using <a href="https://www.craiyon.com/">Craiyon</a></p>
    </div>

    <br><button type="button" id="adopt-pet">ADOPT PET</button><br>

    <div>
        <table>
            <tr>
                <td>Pet species</td>
                <td id="pet-species">TBD</td>
            </tr>
            <tr>
                <td>Favorite food</td>
                <td id="food-fave">TBD</td>
            </tr>
            <tr>
                <td>Least favorite food</td>
                <td id="food-least">TBD</td>
            </tr>
            <tr>
                <td>Favorite activity</td>
                <td id="activity-fave">TBD</td>
            </tr>
            <tr>
                <td>Least favorite activity</td>
                <td id="activity-least">TBD</td>
            </tr>
            <tr>
                <td>Favorite music genre</td>
                <td id="music-fave">TBD</td>
            </tr>
            <tr>
                <td>Least favorite music genre</td>
                <td id="music-least">TBD</td>
            </tr>
            <tr>
                <td>Favorite weather</td>
                <td id="weather-fave">TBD</td>
            </tr>
            <tr>
                <td>Least favorite weather</td>
                <td id="weather-least">TBD</td>
            </tr>
            <tr>
                <td>Personality</td>
                <td id="personality">TBD</td>
            </tr>
            <tr>
                <td>Astrological sign</td>
                <td id="astro-sign">TBD</td>
            </tr>
        </table>
    </div>

    <script src="static/generate_pet.js"></script>

{% endblock %}