<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A virtual pet app">

    <link rel="stylesheet" href="/static/css/styles.css">
    
    <title>
        {% block title %} TITLE GOES HERE {% endblock %}
    </title>
</head>

<body>
    {% for msg in get_flashed_messages() %}
        <p clsass="flash-msg">
            {{ msg }}
        </p>
    {% endfor %}

    {% block body %}
        BODY CONTENT GOES HERE
    {% endblock %}
</body>

</html>