<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A virtual pet app">

    <link rel="stylesheet" href="/static/css/styles.css">

    <!-- Load React, React DOM, Babel -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-- <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script> -->
    <script crossorigin src="https://unpkg.com/@babel/standalone@7.19.2/babel.min.js"></script>
    <script src="https://unpkg.com/prop-types@15.6/prop-types.js"></script>
    
    <title>
        {% block title %} TITLE GOES HERE {% endblock title %}
    </title>
</head>

<body>

    <nav>
        {% block navbar %}
            NAVBAR GOES HERE
            ***
            SOME NAVBAR CONTENT
            {% if session.get("current_user_id") %}
                ***
                <a href="/logout">LOG OUT</a>
                ***
                Logged in as: {{ session["current_username"] }}
            {% endif %}
        {% endblock navbar %}
    </nav>

    <main>
        {% for msg in get_flashed_messages() %}
            <div class="flash">
                <p class="flash-msg">
                    {{ msg }}
                </p>
            </div>
        {% endfor %}

        {% block body %}
            BODY CONTENT GOES HERE
        {% endblock body %}
    </main>
</body>

<footer>
    {% block footer %}
    {% endblock footer %}
</footer>

</html>