{% extends 'base.html' %}

{% block title %} CREATE A PET {% endblock %}

{% block body %}
    <h1>Pet Generator</h1>

    <button type="button" id="generate-pet">GENERATE PET</button><br><br>

    <div>
        <img src="https://via.placeholder.com/255" id="species-img">
        <p>Images created using <a href="https://www.craiyon.com/">Craiyon</a></p>
    </div>

    <br><button type="button" id="adopt-pet">ADOPT PET</button><br>

    <div>
        <table id="pet-info">
            {% for characteristic in characteristics %}
                <tr>
                    <td> {{ characteristic }} </td>
                    <td> TBD </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script src="static/generate_pet.js"></script>

{% endblock %}