{% extends 'base.html' %}

{% block title %} CREATE A PET {% endblock %}

{% block body %}
    <h1>Pet Generator</h1>

    <button type="button">GENERATE PET</button><br><br>

    <a href="/generate-pet">GENERATE PET</a><br><br>

    <div>
        <img src="https://via.placeholder.com/400">
    </div>

    <br><button type="button">ADOPT PET</button><br>

    <div>
        <table>
            <tr>
                <td>Pet species:</td>
                <td> TBD </td>
            </tr>
            <tr>
                <td>Favorite food:</td>
                <td> TBD </td>
            </tr>
            <tr>
                <td>Least favorite food:</td>
                <td> TBD </td>
            </tr>
            <tr>
                <td>Favorite activity:</td>
                <td> TBD </td>
            </tr>
            <tr>
                <td>Least activity:</td>
                <td> TBD </td>
            </tr>
            </tr>
        </table>
    </div>

{% endblock %}