{% extends 'base.html' %}

{% block title %} VIRTUAL PET APP {% endblock title %}

{% block body %}

    <div id="app">
    </div>

    <script src="/static/react/PetDisplay.jsx" type="text/jsx"></script>
    <script src="/static/react/WeatherDisplay.jsx" type="text/jsx"></script>
    <script src="/static/react/PetEnergy.jsx" type="text/jsx"></script>
    <script src="/static/react/CurrentPet.jsx" type="text/jsx"></script>
    <script src="/static/react/PetGenerator.jsx" type="text/jsx"></script>
    <script src="/static/react/App.jsx" type="text/jsx"></script>

{% endblock body %}

{% block footer %}
    <p>Pet images created using <a href="https://www.craiyon.com/">Craiyon</a></p>
{% endblock footer %}