{% extends 'base.html' %}

{% block title %} VIRTUAL PET APP {% endblock title %}

{% block body %}

    <div id="app" class="container">

        <footer class="row">
            <p>Pet images created using <a href="https://www.craiyon.com/">Craiyon</a></p>
        </footer>
    </div>

{% endblock body %}

{% block scripts %}
    <!-- settings -->
    <script src="/static/react/app/currentPet/settings/DeletePet.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/settings/DeleteObj.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/settings/RenamePet.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/settings/Settings.jsx" type="text/jsx"></script>

    <!-- misc. child components -->
    <script src="/static/react/general/Modal.jsx" type="text/jsx"></script>
    <script src="/static/react/app/PetDisplay.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/PetHeading.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/Attributes.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/WeatherDisplay.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/StatDisplay.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/Stat.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/Play.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/Feed.jsx" type="text/jsx"></script>
    <script src="/static/react/app/currentPet/Interaction.jsx" type="text/jsx"></script>

    <!-- top-level components -->
    <script src="/static/react/app/currentPet/CurrentPet.jsx" type="text/jsx"></script>
    <script src="/static/react/app/PetGenerator.jsx" type="text/jsx"></script>
    <script src="/static/react/app/App.jsx" type="text/jsx"></script>
{% endblock scripts %}